@define-color bg      #1a1b26;
@define-color fg      #c0caf5;
@define-color green   #9ece6a;
@define-color border  #3b4261;
@define-color blue    #7aa2f7;
@define-color yellow  #e0af68;
@define-color purple  #bb9af7;

window {
    background-color: @bg;
    border: 2px solid @blue;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @border;
}

input:selected {
    background-color: @green;
    color: @fg;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @green;
    color: @fg;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @border;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @blue;
}
